body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: white;
}

.sec-1{
    width: 100%;
    height: 100vh;
}
.container{
    display: flex;
    align-items: center;
    padding: 4vh;
    justify-content: space-between; 
    border-bottom: 1px solid rgb(206, 200, 200);
    height: 5vh 12vh;
}
#netflix-logo{
    height: 5vh;
    width: 20vh;
    cursor: pointer;
}
#btn-SignOut{
    text-decoration: none;
    font-weight: 600;
    font-family:sans-serif;
    font-size: 2.5vh;
    color: black;
    cursor: pointer;
}
#btn-SignOut:hover{
    text-decoration: underline;
}


.content{
    display: flex;
    justify-content: center;
    text-align: center;
}

.plan-div{
    margin-top: 10vh;
    width: 50vh;
    padding: 2vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.tick-mark{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tick-mark img{
    height:8vh;
    padding: 2.5vh;
}
.tick-mark span{
    font-weight: 600;
}
.head h1{
    margin-top: 0.5vh;
    font-size: 4.5vh;
    font-weight:600;
}

.para-div p{
    text-align: left;
    padding:0.5vh;
    margin-left: 2.5vh;
    font-size: 2.6vh;
    font-weight: 100;  
}
.para-div small{
font-size: 2.5vh;
margin-left: 5vh;
}

.img-Tick{
    margin-bottom: -1vh;
}
.para-div{
    text-align: left;
    justify-content: center;
    align-items: center;
}
.para-div img{
    height: 3.5vh;
    
}

#btnNext{
    height: auto;
    width: 100%;
    padding: 2.3vh 1vh;
    margin-top: 3vh;
    font-size: 3.5vh;
    color: white;
    background-color: rgb(242, 8, 8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/*-----------------------------------------Section-2----------------------------------------*/

.sec-2{
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(236, 236, 236);
   border-top: 1px solid rgb(222, 222, 222);
    
}

.footer{
    padding: 1vh;
}
.content-2{
    align-items: center;
    text-align: left;
    
}
.content-2 a{
    color: grey;
    text-decoration: none;
    font-size: 2.1vh;
}
.content-2 a:hover{
text-decoration: underline;
}

.quizz{
    padding-left: 4vh;
    padding-top: 3.1vh;
}
.quizz p{
font-size: 2vh;
color: grey;
}
.quizz a{
    text-decoration: none;
    color: grey;
    font-size: 2vh;
}
.quizz a:hover{
    text-decoration: underline;
}


.Total-link{
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 2vh;
    justify-content: space-between;
}
.Total-link a{
    font-size: 2vh;
}
.row1{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 1vh;
}
.row2{
    width: 50%;
    display: flex;
    flex-direction: row;
    padding: 1vh;
}


.links-1{
    width: 50%;
    padding: 1vh;
display: flex;
flex-direction: column;
text-align: left;
}
.links-2{
    width: 50%;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    text-align: left;
    }
    .links-3{
        width: 50%;
        padding: 1vh;
        display: flex;
        flex-direction: column;
        text-align: left;
        }
        .links-4{
            width: 50%;
            padding: 1vh;
            display: flex;
            flex-direction: column;
            text-align: left;
            }


            .links-1 a{
                margin: 1.5vh 0vh;
            }
            .links-2 a{
                margin: 1.5vh 0vh;
            }
            .links-3 a{
                margin: 1.5vh 0vh;
            }
            .links-4 a{
                margin: 1.5vh 0vh;
            }

.option select{
    padding: 0.5vh;
    font-size: 2vh;
    width: 18vh;
    height: 5vh;
    border-radius: 3px;
    text-align: center;
    border:1px solid rgb(188, 187, 187);
}





/* -----------------------------------------Responsive 50px to 600px ----------------------------- */


@media(min-width:50px)and (max-width:850px){

body{
    width: 100%;
    height: 100%;
}
sec-1{
    width: 100%;
    height: 50vh;
}
sec-2{
    width: 100%;
    height: 100%;
}


.container{
    padding: 3vh 2vh;
    height: 5vh;
    border: 1px solid black;
}
#netflix-logo{
height: 3vh;
width: 11vh;
}
.Total-link{
    display: flex;
    flex-direction: row;
}
.row1{
    display: flex;
    flex-direction: column;
}
.row2{
    display: flex;
    flex-direction: column;
}
.Total-link a{
    font-size: 1.5vh;
}
.Total-link select{
    font-size: 1.8vh;
}
.container{
    border-bottom: 1px solid rgb(165, 160, 160);
    border-right: none;
}
.container a{
    font-size: 2vh;
}
.tick-mark img{
    height: 5vh;
}
.tick-mark small{
    font-size:1.5vh ;
}
.head h1{
    font-size: 3.5vh;
}
.para-div p img{
    height: 2.5vh;
}
.para-div p{
    font-size: 2.2vh;
}
.para-div p small{
    padding: 0;
    margin: 0.5vh;
    font-size: 2.3vh;
    font-family: 600;
}
}



